:root {
  --primary-color: #0074e4;
  --secondary-color: #cbd2e2;
  --accent-color: #51678f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Futura", sans-serif;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

article {
  padding: 1.5rem;
}

/* GENERAL */
.container {
  max-width: 1280px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 20px;
}

.grid-col--1 {
  grid-template-columns: 1fr;
}

.grid-col--2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col--3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-row--1 {
  grid-template-rows: 50px;
}

.grid-row--2 {
  grid-template-rows: 50px 75px;
}

.grid-row--3 {
  grid-template-rows: 50px 75px 100px;
}

.btn {
  padding: 1.2rem 1.6rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: bold;
}

.btn-secondary {
  background-color: var(--secondary-color);
}

.btn-primary:hover {
  background-color: #0268c7;
}

.btn-secondary:hover {
  background-color: #bfc3cf;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
  width: 100px;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: end;
}
