@font-face {
  font-family: "Futura";
  src: url(../fonts/futura-regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #0074e4;
  --secondary-color: #cbd2e2;
  --accent-color: #516690;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Futura", sans-serif;
}

/* GENERAL */
.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* ****** */
/* NAVBAR */
/* ****** */

.navbar {
  background-color: #f6f6f6;
  padding: 5px 0;
}

.navbar-brand {
  display: flex;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-logo-image {
  width: 64px;
}

.navbar-logo-text {
  color: var(--primary-color);
  font-size: 1.6rem;
}

/* ****** */
/* TABS */
/* ****** */
.nav {
  margin-top: 6.2rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid var(--secondary-color);
}

.nav-tabs {
  display: flex;
  list-style: none;
}

.nav-item {
  font-size: 1.6rem;
}

.nav-link {
  color: var(--primary-color);
  padding: 1.2rem 1.6rem 0.8rem 1.6rem;
  text-decoration: none;
  border: 1px solid transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: border-style 0.5s ease;
}

.nav-link.active {
  border-color: var(--secondary-color);
}

/* ****** */
/* CONTENT ITEM */
/* ****** */
.main-content {
  border: 1px solid var(--secondary-color);
  border-top: none;
}

.content-item {
  display: none;
}

.content-item.active {
  display: block;
}
