@font-face {
  font-family: "Futura";
  src: url(../fonts/futura-regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* ****** */
/* NAVBAR */
/* ****** */

.navbar {
  background-color: #f6f6f6;
  padding: 5px 0;
}

.navbar-brand {
  display: flex;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-logo-image {
  width: 64px;
}

.navbar-logo-text {
  color: var(--primary-color);
  font-size: 1.6rem;
}

/* ****** */
/* TABS */
/* ****** */
.nav {
  margin-top: 6.2rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid var(--secondary-color);
}

.nav-tabs {
  display: flex;
  list-style: none;
}

.nav-item {
  font-size: 1.6rem;
}

.nav-link {
  color: var(--primary-color);
  padding: 1.2rem 1.6rem 0.8rem 1.6rem;
  text-decoration: none;
  border: 1px solid transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.3s ease;
}

.nav-link.active {
  border-color: var(--secondary-color);
}

/* ****** */
/* CONTENT ITEM */
/* ****** */
.main-content {
  border: 1px solid var(--secondary-color);
  border-top: none;
}

.content-item {
  display: none;
  padding: 3.2rem 2.4rem;
}

.content-item.active {
  display: block;
}

.content-title {
  font-size: 3.2rem;
}

.content-secondary-heading {
  font-size: 2.2rem;
  margin-bottom: 1.2rem;
}

.content-buttons p {
  font-size: 1.8rem;
  font-style: italic;
  margin-bottom: 5px;
}

.content-heading p {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

/* CONTENT */
.content-example {
  margin: 1.2rem 0;
}

.content {
  margin-top: 1.6rem;
  display: flex;
  gap: 2rem;
}

.content-description {
  flex: 1;
  font-size: 1.6rem;
}

.content-sample-text {
  flex: 1;
  font-size: 1.5rem;
  align-self: center;
}

.content-sample-text p {
  background-color: var(--secondary-color);
  padding: 2.4rem 3.6rem;
  border-radius: 5px;
}

/* EXAMPLE 1: block & inline */
.sample-1 {
  background-color: var(--accent-color);
  color: #fff;
}

/* EXAMPLE 2: flex */
.content-sample-flex {
  flex: 1;
  display: flex;
  background-color: var(--secondary-color);
  border-radius: 5px;
  gap: 10px;
  height: 38rem;
  align-self: center;
}

.box-flex {
  width: 100px;
  height: 100px;
  background-color: var(--accent-color);
}

/* EXAMPLE 3: Grid */
.content-sample-grid {
  flex: 1;
  display: grid;
  background-color: var(--secondary-color);
  border-radius: 5px;
  grid-gap: 20px;
  height: 38rem;
}

.box-grid {
  background-color: var(--accent-color);
}
