@font-face {
  font-family: "Futura";
  src: url(../fonts/futura-regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* ****** */
/* NAVBAR */
/* ****** */

.navbar {
  background-color: #f6f6f6;
  padding: 5px 0;
}

.navbar-brand {
  display: flex;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-logo-image {
  width: 64px;
}

.navbar-logo-text {
  color: var(--primary-color);
  font-size: 1.6rem;
}

/* ****** */
/* TABS */
/* ****** */
.nav {
  margin-top: 6.2rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid var(--secondary-color);
}

.nav-tabs {
  display: flex;
  list-style: none;
}

.nav-item {
  font-size: 1.6rem;
}

@media screen and (max-width: 415px) {
  .nav-item {
    font-size: 1.2rem;
  }
}

.nav-link {
  color: var(--primary-color);
  padding: 1.2rem 1.6rem 0.8rem 1.6rem;
  text-decoration: none;
  border: 1px solid transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.3s ease;
}

.nav-link.active {
  border-color: var(--secondary-color);
}

/* ****** */
/* CONTENT ITEM */
/* ****** */
.main-content {
  border: 1px solid var(--secondary-color);
  border-top: none;
}

.content-item {
  display: none;
  padding: 3.2rem 2.4rem;
}

.content-item.active {
  display: block;
}

.content-secondary-heading {
  margin-bottom: 1.2rem;
}

.content-buttons p {
  font-size: 1.8rem;
  font-style: italic;
  margin-bottom: 5px;
}

.content-heading p {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

/* CONTENT */
.content-example {
  margin: 1.2rem 0;
}

.content {
  margin-top: 1.6rem;
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 930px) {
  .content {
    flex-direction: column;
  }
}

.content-description {
  flex: 1;
  font-size: 1.6rem;
}

.content-sample-text {
  flex: 1;
  font-size: 1.5rem;
  align-self: center;
}

.content-sample-text p {
  background-color: var(--secondary-color);
  padding: 2.4rem 3.6rem;
  border-radius: 5px;
}

/* EXAMPLE 1: block & inline */
.sample-1 {
  background-color: var(--accent-color);
  color: #fff;
}

/* EXAMPLE 2: flex */
.content-sample-flex-parent {
  flex: 1;
}

.content-sample-flex {
  flex: 1;
  display: flex;
  background-color: var(--secondary-color);
  border-radius: 5px;
  gap: 10px;
  height: 38rem;
  align-self: center;
}

@media screen and (max-width: 930px) {
  .content-sample-flex {
    padding: 1.2rem;
    height: 200px;
  }

  .content-sample-grid {
    padding: 1.2rem;
    height: 200px;
  }
}

.box-flex {
  width: 100px;
  height: 100px;
  background-color: var(--accent-color);
}

@media screen and (max-width: 530px) {
  .box-flex {
    width: 50px;
    height: 50px;
  }
}

.content-sample-grid-parent {
  flex: 1;
}

/* EXAMPLE 3: Grid */
.content-sample-grid {
  flex: 1;
  display: grid;
  background-color: var(--secondary-color);
  border-radius: 5px;
  grid-gap: 20px;
  height: 38rem;
}

.box-grid {
  background-color: var(--accent-color);
}

/* ********* */
/* SELECTORS */
/* ********* */
.content-sample-code {
  font-size: 1.6rem;
  flex: 1 1 0px;
  background-color: var(--secondary-color);
  padding: 1.6rem;
  margin-bottom: 1.6rem;
}

.content-sample-code code {
  flex: 1 1 0px;
}

/* PSEUDO CLASSES */
.btn.btn-sample {
  background-color: #000;
  color: #fff;
  width: 100%;
}

.btn.btn-sample:hover {
  background-color: #ccc;
}

.content-sample-result {
  flex: 1 1 0px;
}

.form-control {
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  border: 1px solid #494949;
  width: 100%;
}

.form-control:focus {
  outline: solid blue;
}

/* :FIRST-CHILD */
.sample-list {
  font-size: 1.6rem;
}

#first-child .content-sample-result,
#last-child .content-sample-result,
#nth-child .content-sample-result {
  display: flex;
  justify-content: center;
}

.list-1 li:first-child {
  background-color: yellow;
}

.list-2 li:last-child {
  background-color: yellow;
}

.list-3 li:nth-child(odd) {
  background-color: yellow;
}
