<article id="block-inline" class="content-example">
  <h3 class="content-secondary-heading">block & inline</h3>

  <div class="content">
    <div class="content-description">
      <div class="content-buttons">
        <div class="grid grid-col--3">
          <button class="btn btn-primary" data-class="block">block</button>
          <button class="btn btn-secondary" data-class="inline">inline</button>
          <button class="btn btn-secondary" data-class="inline-block">
            inline-block
          </button>
        </div>
      </div>
      <br />
      <p>
        <strong>block</strong> level elements take up as much space as possible
        by default. Each block level element will start a new line on the page,
        stacking down the page.
      </p>
      <br />
      <p>
        <strong>inline</strong> elements display in a line. They do not force
        the text after them to a new line
      </p>
      <br />
      <strong>inline-block</strong> It's formatted just like the inline element,
      where it doesn't start on a new line. BUT, you can set width and height
      values
    </div>
    <div class="content-sample-text">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, alias?
        Adipisci minus
        <span class="sample-1 block">quisquam nihil quod</span>
        voluptatibus architecto facere iure natus dolore! Delectus, minima
        aperiam corporis beatae est magni nisi inventore tenetur dicta
        voluptatum perspiciatis?
      </p>
    </div>
  </div>
</article>
