<article id="flex" class="content-example">
  <h3 class="content-secondary-heading">flex</h3>

  <div class="content">
    <div class="content-description">
      <p>
        <strong>flex</strong> is used to create a flexible layout for organizing
        and aligning elements in a container
      </p>
      <br />
      <div id="flex-direction" class="content-buttons">
        <p>flex-direction</p>
        <div class="grid grid-col--3">
          <button class="btn btn-primary" data-class="flex-row">row</button>
          <button class="btn btn-secondary" data-class="flex-column">
            column
          </button>
        </div>
      </div>
      <br />
      <div id="justify-content" class="content-buttons">
        <p>justify-content</p>
        <div class="grid grid-col--3">
          <button class="btn btn-primary" data-class="flex-justify-start">
            flex-start
          </button>
          <button class="btn btn-secondary" data-class="flex-justify-center">
            center
          </button>
          <button class="btn btn-secondary" data-class="flex-justify-end">
            flex-end
          </button>
          <button class="btn btn-secondary" data-class="flex-space-between">
            space-between
          </button>
          <button class="btn btn-secondary" data-class="flex-space-around">
            space-around
          </button>
          <button class="btn btn-secondary" data-class="flex-space-evenly">
            space-evenly
          </button>
        </div>
      </div>
      <br />
      <div id="align-items" class="content-buttons">
        <p>align-items</p>
        <div class="grid grid-col--3">
          <button class="btn btn-primary" data-class="align-start">
            start
          </button>
          <button class="btn btn-secondary" data-class="align-center">
            acenter
          </button>
          <button class="btn btn-secondary" data-class="align-end">aend</button>
        </div>
      </div>
    </div>
    <div class="content-sample-flex">
      <div class="box-flex"></div>
      <div class="box-flex"></div>
      <div class="box-flex"></div>
    </div>
  </div>
</article>
